{
  "gui" : {
	"background" : {
	  "type" : "background",
	  "fileHeader" : "/interface/scripted/dyestation/header.png",
	  "fileBody" : "/interface/scripted/dyestation/body.png",
	  "fileFooter" : "/interface/scripted/dyestation/footer.png"
	},
	"close" : {
	  "type" : "button",
	  "base" : "/interface/x.png",
	  "hover" : "/interface/xhover.png",
	  "press" : "/interface/xpress.png",
	  "position" : [152, 111],
	  "callback" : "close"
	},
	"dispense" : {
	  "type" : "button",
	  "base" : "/interface/scripted/dyestation/button.png",
	  "hover" : "/interface/scripted/dyestation/buttonhover.png",
	  "press" : "/interface/scripted/dyestation/buttonhover.png",
	  "caption" : "",
	  "position" : [132, 54]
	},
	"redValue" : {
	  "type" : "textbox",
	  "position" : [20, 82],
	  "size" : [16, 11],
	  "maxWidth" : 16,
	  "focus" : false,
	  "value" : "0"
	},
	"greenValue" : {
	  "type" : "textbox",
	  "position" : [58, 82],
	  "size" : [16, 11],
	  "maxWidth" : 16,
	  "focus" : false,
	  "value" : "0"
	},
	"blueValue" : {
	  "type" : "textbox",
	  "position" : [96, 82],
	  "size" : [16, 11],
	  "maxWidth" : 16,
	  "focus" : false,
	  "value" : "0"
	},
	"alphaValue" : {
	  "type" : "textbox",
	  "position" : [134, 82],
	  "size" : [16, 11],
	  "maxWidth" : 16,
	  "focus" : false,
	  "value" : "255"
	},
	"hueValue" : {
	  "type" : "textbox",
	  "position" : [20, 58],
	  "size" : [16, 11],
	  "maxWidth" : 16,
      "focus" : false,
      "value" : "0"
	},
	"satValue" : {
	  "type" : "textbox",
	  "position" : [58, 58],
	  "size" : [16, 11],
	  "maxWidth" : 16,
      "focus" : false,
      "value" : "0"
	},
	"valValue" : {
	  "type" : "textbox",
	  "position" : [96, 58],
	  "size" : [16, 11],
	  "maxWidth" : 16,
      "focus" : false,
      "value" : "0"
	},
	"hexValue" : {
	  "type" : "textbox",
	  "position" : [20, 34],
	  "size" : [54, 11],
	  "maxWidth" : 54,
      "focus" : false,
      "value" : "000000FF"
	},
	"preview" : {
	  "type" : "label",
	  "position" : [82, 34],
	  "value" : "Preview"
	},
	"itemGrid" : {
	  "type" : "itemgrid",
	  "position" : [132, 30],
	  "dimensions" : [1, 1],
	  "spacing" : [0, 0],
	  "backingImage" : ""
	},
	"footer" : {
	  "type" : "label",
	  "position" : [6, 11],
	  "value" : "Preview"
	}
  },

  "scriptWidgetCallbacks" : [
	"dispense",
	"redValue",
	"greenValue",
	"blueValue",
	"alphaValue",
	"hueValue",
	"satValue",
	"valValue",
	"hexValue"
  ],
  "scripts" : ["/interface/scripted/dyestation/dyestation.lua"],
  "scriptDelta" : 0
}
